$bg-dark: #222;
$font-fam: 'Titillium Web', sans-serif;
$bg-light: #bbb6b6;
$text-light: #f353bb;
$text-shadow: 1px 1px 5px #f353bb;

.h-large {
  font-size: 3rem;
  color: $text-light;
  margin: 1rem 1.5rem;
  text-shadow: $text-shadow;
}

.h-medium {
  font-size: 2.5rem;
  margin: 1.5rem 2rem;
  text-shadow: $text-shadow;
}

.lead {
  font-size: 1.5rem;
  color: $text-light;
  text-shadow: $text-shadow;
}

.fancy-box-overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.fancy-btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: $text-light;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .h-large{
    font-size: 2rem;
  }

  .h-medium {
    font-size: 1.8rem;
  }

  .lead {
    font-size: 1.2rem;
  }
}