@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-dark;
  font-family: $font-fam;
  line-height: 1.6;
  text-shadow: $text-shadow;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/header-bg.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  
  .container {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}

main {
  position: relative;
  color: $text-light;
  text-align: center;
  background-image: url('../img/main-bg.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

  .overlay {
    background-color: rgba(0,0,0,0.9);
  }

}
.container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding:0 1rem;
}

.fancy-box{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &-item {
    height: 150px; 
    margin: 0.5rem 1rem;
    cursor: pointer;
    //display: none;
    &:hover {
      //border: 1px solid #fe53bb;
      box-shadow: 0px 0px 3px #f353bb;
    }
  }

  &-images {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  }

  &-popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    //display: none;
    top: 0;
    left: -2000px;
  }
}

@media only screen and (max-width: 768px) {
  .fancy-box {
    height: auto;
    &-images {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
    
    &-item {
      width: 90%;
      height: auto;
    }

    &-popup {
      position: fixed;
    }
  }

  main {
    background-image: none;
    background-color: $bg-dark;

    .overlay {
      background-color:$bg-dark;
    }
  }
}